{require_otp_vsn, "21"}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_all,
    {parse_transform, lager_transform},
    {lager_truncation_size, 1024}
]}.

{project_plugins, [
    erlfmt
]}.

{erlfmt, [write]}.

{deps, [
    {lager, "3.9.2"},
    {cowboy, "2.9.0"},
    {jsone, "1.5.7"},
    {erlydtl, "0.14.0"}
]}.

{relx, [
    {release, {myappRebar, "0.1.0"},
        [myappRebar, sasl]
    },

    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},

    {dev_mode, true},
    {include_erts, false},
    {include_src, true},
    {generate_start_script, true},
    {extended_start_script, true},

    {overlay, [
        {copy, "templates", "templates"},
        {copy, "client", "client"}
    ]}
]}.

{profiles, [
    {dev, []},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {debug_info, strip}
        ]}
    ]}
]}.

{shell, [
    {env_file, "config/dev.env"},
    {config, "config/sys.config.src"},
    {apps, [myappRebar]}
]}.
