%% application config file

[
    %% format log timestamps as UTC
    {sasl, [{utc_log, true}]},
    %% lager config
    {lager, [
        {colored, false},
        {handlers, [
            {lager_console_backend, [
                {level, debug},
                {formatter, lager_default_formatter},
                {formatter_config, ["[",date," ",time,"]","[",severity_upper,"] ",module,":",line," - ",message,"\n"]}
            ]}
        ]}
    ]}
].
